* {
    font-size: 50px;
}

body {
    background-color: #c6cbe5;
    display: flex;
    justify-content: space-around;
}

body div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}